@charset "utf-8";
/* CSS Document */


.wrapword{	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
word-break: break-all;
white-space: normal;
}

.h_top{margin:0px; padding:10px 0px; text-align:left; font-size:14px;}
.r_b{background:#BEE296;/*#46688D;*/  padding:0px 0px; color:#000; margin-bottom:20px; font-size:12px;}